/* colours
blue #283c5d
dark-blue #061329
white #f5e3d6
yellow #e8ec8d
pink #DB67A6*/

body{
  background-color: #061329;
  margin: 0px!important;
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 100px;
  color: #061329;
}

h2 {
  font-family: 'Yeseva One', cursive;
  font-size: 60px;
  color:  #DB67A6;
  text-align: center;
}

h3 {
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  color:  #e8ec8d;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  background-color: #e8ec8d;
}

/* nav section starts */

nav {
  position: relative;
  margin: auto;
  width: 80%;
  height:30px;
  background-color: #061329!important;
}

 .nav-item {
   font-family: 'Merriweather', serif;
   font-size: 20px;
   color: #e8ec8d;
   height:50px;
   width: 300px;
   text-decoration: none!important;
 }

/* new homePage section */
#home-section {
  position: relative;
  display: flex;
  height: 740px;
  width:80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

 img {
  width: 100%;
  height: 740px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

#tagline {
  position: absolute;
  width: 700px;
  text-align: center;
}

#aboutMe {
  position: relative;
  color: #e8ec8d;
  width: 100%;
  height: 820px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me-text {
  position: absolute;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.fa-angle-double-down {
  color: #e8ec8d;
  font-size: 40px;
}

/* accordion starts */

.accordion-header {
  background-color: #061329!important;
  padding-top: 60px;
  height: 150px;
}

.accordion-item {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.accordion-button {
  background-color: #061329!important;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size: 50px;
  color: #e8ec8d!important;
  height: 100px;
  text-align: center;
}

.accordion-body {
  height: 800px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #061329!important;
}

.info {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  color: #e8ec8d;
  font-size: 20px;
}

#item1 {
  height: 300px;
  margin-top: 20px;
  margin:auto;
}

footer {
  height: 60px;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#social {
  height: 50px;
  width: 40%;
  margin: auto;
  display: flex;
  text-align: center;
}

.name {
  margin: auto;
  text-align: center;
  color: #e8ec8d;
  font-size: 20px;
}

.fa-github,
.fa-behance,
.fa-facebook  {
  height: 40px;
  width: 40px;
  color: white;
  font-size: 30px;
  margin-right: 40px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

/*  */
